@import "../../styles/variables.scss";

.button {
  border-radius: 5px;
  padding: 2px 10px;
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  @each $name, $value in $colors {
    &.button_#{$name} {
      border: 1px solid rgba($value, 0.5);
      color: $value;

      &:hover {
        background-color: rgba($value, 0.1);
      }
    }
  }

  svg {
    margin-right: 0.2em;
  }
}