$spacing: ("sm": 8px, "md": 16px, "lg": 24px);
$justifyContent: (flex-start, flex-end, center, space-between);
$alignItems: (flex-start, flex-end, center);
$breakpoints: ("md": 360px, "lg": 768px);
$colors: ("danger": #d21919, "warning": #d27c19, "primary": #1976d2, "secondary": #9FA6B2);