@import "../../styles/variables.scss";

.container {
  container-type: inline-size;
  height: 100vh;
  width: 100vw;
}

//nav {
//  height: 10cqw;
//  max-height: 50px;
//  background: rgba(map-get($colors, "primary"), 0.5);
//  color: #FFF;
//  text-align: center;
//  position: fixed;
//  z-index: 1000;
//  width: 100%;
//  font-size: 5cqw;
//  box-shadow: 0 3px 10px map-get($colors, "secondary");
//}